.model {
    font-family: 'MedievalSharp', cursive;
    position: relative;
    margin: 0 auto;
    width: 700px;
    height: 400px;
    background-color: black;
    border: 4px solid white;
    z-index: 100;
    color: white;
}

.model h1 {
    font-family: 'MedievalSharp', cursive;
    margin-top: 0.5em;
    font-size: 2em;
    text-align: center;
}

.menu {
    font-size: 2em;
    text-align: center;
    color: red;
    border: 2px solid white;
    font-family: 'MedievalSharp', cursive;
}

.gameOver p {
    position: relative;
    margin: 0 auto;
    width: 700px;
    height: 400px;
    background-color: black;
    border: 4px solid white;
    z-index: 100;
    color: white;
    text-align: center;
    font-family: 'MedievalSharp', cursive;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
}
.gameOver p:nth-child(1) {
    width: 7.3em;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.gameOver p:nth-child(2) {
    width: 11.5em;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 2s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.gameOver p:nth-child(3) {
    width: 7.3em;
    opacity: 0;
    -webkit-animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
    animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes type {
    0% {
        width: 0;
    }
    99.9% {
        border-right: .15em solid orange;
    }
    100% {
        border: none;
    }
}

@-webkit-keyframes type {
    0% {
        width: 0;
    }
    99.9% {
        border-right: .15em solid orange;
    }
    100% {
        border: none;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: .15em solid orange;
    }
    100% {
        opacity: 1;
        border: none;
    }
}

@-webkit-keyframes type2 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: .15em solid orange;
    }
    100% {
        opacity: 1;
        border: none;
    }
}

@keyframes type3 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes type3 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
@-webkit-keyframes blink {
    50% {
        border-color: transparent;
    }
}

.attack:hover {
    background-color: #b2b3b3;
    background-image: -webkit-linear-gradient(bottom, #aca9b3 0%, #faf6fb 100%);
    background-image:         linear-gradient(to bottom, #afafb3 0%, #fbf9fa 100%);
}
.defend:hover {
    background-color: #b2b3b3;
    background-image: -webkit-linear-gradient(bottom, #aca9b3 0%, #faf6fb 100%);
    background-image:         linear-gradient(to bottom, #afafb3 0%, #fbf9fa 100%);
}
.run:hover {
    background-color: #b2b3b3;
    background-image: -webkit-linear-gradient(bottom, #aca9b3 0%, #faf6fb 100%);
    background-image:         linear-gradient(to bottom, #afafb3 0%, #fbf9fa 100%);
}