header {
    font-family: 'MedievalSharp', cursive;
    color: white;

}

form {
    display: block;
    width: 150px;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    color: white;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: 'MedievalSharp', cursive;
}

.login {
    font-family: 'MedievalSharp', cursive;
    display: block;
    width: 150px;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    border: 1px solid #AA2666;
    color: white;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: #FB1886;
    background-image: -webkit-linear-gradient(bottom, #FB1886 0%, #B30D5D 100%);
    background-image: linear-gradient(to bottom, #FB1886 0%, #B30D5D 100%);
    border-radius: 5px;
}

.login:hover {
    background-color: #B30D5D;
    background-image: -webkit-linear-gradient(bottom, #B30D5D 0%, #FB1886 100%);
    background-image: linear-gradient(to bottom, #B30D5D 0%, #FB1886 100%);
}